APP_ENV=
DEBUG=
DATABASE_URL=
DATABASE_URL_SYNC=
REDIS_URL=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
GEMINI_API_KEY=
JWT_SECRET=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
DEMO_MODE=true
